#OS junk files
[Tt]humbs.db
*.DS_Store

#Compiled Python Files
*.pyc

# Python Scripts Folder
/malt/Python Scripts/

# Symbolic link to cron job log
updated_mail_log

# MySQL credential module
malt/mysql_credentials.py
